*{
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e2e2e2;
}

header {
    border-bottom: solid 1px #F0f0f0;
}

nav {
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    top: 0;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li {
    height: 75px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav li:first-child{
    margin-right: auto;
}

nav li:hover {
    background-color: #F0f0f0;
}

/* Main Content */

.header {
    background-image: url('../jeremy-lapak-CVvFVQ_-oUg-unsplash.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 75px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up {
    background-color: #e2e2e2;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 25px;
}

.header .stride {
    font-size: 6vw;
}

.header button {
    background-color: #525252;
    border: 2px solid #d0d0d0; /* Slightly darker border for contrast */
    color: white; /* Dark text color for readability */
    font-size: 16px;
    padding: 12px 20px; /* Adjust padding for better button size */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
}

/* Summary Section */

.summary {
    margin-top: 0px;
    text-align: center;
    background-color: #e2e2e2;
    color: black;
    padding: 35px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.summary p {
    font-size: 1.125rem;
}

.container {
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
    gap: 20px;
}

.summary span a {
    text-decoration: none;
    color: tan;
}


.container img {
    display: block;
    height: auto;
    flex: 1;
}

/* Testimonial */
.testimonial {
    margin-top: 20px;
    text-align: center;
    padding: 35px;
    background-color: black;
    color: #e2e2e2;
}

.testimonial span {
    font-size: 13px;
    color: tan;
}

/* Events */
#events {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 0;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

/* .box-container {
    margin-top: 75px;
    min-height: 800px;
    border: solid 8px black;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 200px;
    width: 200px;
    background-color: blue;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .box-container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 500px) {
    .box {
        width: 100%;
    }
} */

