*{
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    border-bottom: solid 1px #F0f0f0;
}

nav {
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    top: 0;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li {
    height: 75px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav li:first-child{
    margin-right: auto;
}

nav li:hover {
    background-color: #F0f0f0;
}

/* Main Content */

.main-section {
    background-image: url('../jeremy-lapak-CVvFVQ_-oUg-unsplash.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 75px;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-section .word-container {
    display: flex;
    flex-shrink: 1;
}

.main-section .stride {
    font-size: 6vw;
}

/* .box-container {
    margin-top: 75px;
    min-height: 800px;
    border: solid 8px black;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 200px;
    width: 200px;
    background-color: blue;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .box-container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 500px) {
    .box {
        width: 100%;
    }
} */

